
<div>
    
    <h2>Step 2: Select your config and options</h2><br><br>
    <form>
      <label for="myDropdown">Config:</label>
        <select id="myDropdown" name="selectedConfig" [(ngModel)]="formData.selectedConfig" (change)="onConfigChange()">
          <option *ngFor="let item of configList" [ngValue]="item">{{ item?.description }}</option>
        </select>
      
      <div>
        <p>Range: {{ formData?.selectedConfig?.range }}</p>
        <p>Max-speed: {{formData?.selectedConfig?.speed}}</p>
        <p>Cost: {{formData?.selectedConfig?.price}}</p>
      </div>
      

      <div *ngIf="this.formData?.codeDetails?.towHitch">
        <p>tow hitch:
   
          <input type="checkbox" name="towHitch" id="towHitch" [(ngModel)]="formData.selectedTowHitch">
        </p>
        <!-- <p>Checkbox is {{ formData.towHitch ? 'checked' : 'unchecked' }}</p> -->
      </div>
      
      <div *ngIf="this.formData?.codeDetails?.yoke">
        <p>Yoke: 
       
          <input type="checkbox" name="yoke" id="yoke" [(ngModel)]="formData.selectedYoke">
        </p>
        <!-- <p>Yoke is {{ formData.yoke ? 'checked' : 'unchecked' }}</p> -->
      </div>
    </form>
  </div>