
<div>
    
    <h2>Step 3: Summary</h2>
    <h4>Your Tesla CyberTruck</h4>
    <!-- <button (click)="onNext()">Next</button> -->
    <div>
      {{formData?.selectedConfig?.description}} : &nbsp;&nbsp;&nbsp;<span>{{formData?.selectedConfig?.price |currency:'USD'}}</span>  </div>
    <div>
      Range: &nbsp; <span>{{formData?.selectedConfig?.range}}miles</span>
      -&nbsp;Max Speed: &nbsp; <span>{{formData?.selectedConfig?.speed}}</span>
    </div>
    <div>
      {{formData.selectedColor?.description}} : &nbsp;&nbsp;&nbsp;&nbsp;<span>{{formData.selectedColor?.price |currency:'USD'}}</span>
    </div>
    <div *ngIf="formData.selectedTowHitch">
      <span> Tow Hitch package &nbsp;&nbsp;&nbsp;</span><span>$1000 :</span>
    </div>
    <div *ngIf="formData.selectedYoke">
      <span>Yoke package &nbsp;&nbsp;&nbsp;</span><span>$1000 :</span>
    </div>
    <div>
      <h3>Total Cost:   {{totalCost }}</h3>
    </div>
  </div>