
<div>
    <!-- <h2>Step 1</h2> -->
    <h2>Step 1: Choose your model and color</h2><br><br>
    <form>
        
  
  <div>
  <label for="myDropdown">Model:</label>
      <select id="myDropdown" name="myDropdown" [(ngModel)]="formData.selectedOption1" (change)="getColorsByModelDescription()">
        <option *ngFor="let option of options1" [value]="option.description" >{{ option.description }}</option>
      </select>
    </div>

    <div>
        <label for="myDropdown2">Color:</label>
            <select id="myDropdown2" name="myDropdown2" [(ngModel)]="formData.selectedColor" (change)="getImage()">
              <option *ngFor="let option of colorsList" [ngValue]="option">{{ option.code }}</option>
            </select>
          </div>
      
         
          <div>
            <img [src]="imageUrl" alt="Image" width="200" height="150">
          </div>
 
       
      </form>
    
  </div>
