
<div>
    <!-- <h2>Step 1</h2> -->
    <h2>Step 1: Choose your model and color</h2><br><br>
    <form style="width: 500px !important;">
        
  
  <div>
  <label for="modelSelect">Model:</label>
      <select id="modelSelect" name="modelSelect" [(ngModel)]="formData.selectedOption1" (change)="getColorsByModelDescription()">
        <option *ngFor="let option of options1" [value]="option.description" >{{ option.description }}</option>
      </select>
    </div>

    <div>
        <label for="colorSelect">Color:</label>
            <select id="colorSelect" name="colorSelect" [(ngModel)]="formData.selectedColor" (change)="getImage()">
              <option *ngFor="let option of colorsList" [ngValue]="option">{{ option.code }}</option>
            </select>
          </div>
                
      </form>
      
      <div>
        <!-- <img src="assets/images/black.jpg" alt="Blue Image"> -->
        <img [src]="imageUrl" alt="Image" width="200" height="150">
      </div>

    
  </div>
